@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.sruthi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;}
.intro{

    background: url("pink.jpeg")no-repeat center;
    height: 100vh; 
    
}
.home{
    text-align: center;
    margin: auto 40px auto 0;

}
.home .max-width{
margin: auto 0 auto 40px;
line-height: 1.7;
}
.max-width .head{
    margin: 1;
    font-size: 30px;
    font-weight: 800; 
    
}
.max-width.shead{
    margin: 1;
    font-size: 20px;
}
.btn1 {
    border-radius: 10px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  
  .btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn1:hover span {
    padding-right: 25px;
  }
  
  .btn1:hover span:after {
    opacity: 1;
    right: 0;
  }
  .skills{
    background: url("light.jpeg")no-repeat center;
    height: 100vh;
  }
  .data{
    width: 50%;
    margin: 0 auto;
  }
  .tit{
  margin-bottom: 20px;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  .neo{
    background-color:rgb(24, 8, 39);
    padding: 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 5px 5px 5px #f5bcd280;
  }
  .neo::before{
    content:  attr(data-skill);
    background-color: #f0aacd;
    display: inline-block;
    padding: 5px 0 5px 5px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .neo.html::before{
    width: calc(90% - 10px);
  }
  .neo.css::before{
    width: calc(60% - 10px);
  }
  .neo.js::before{
    width: calc(90% - 10px);
  }
  .neo.jq::before{
    width: calc(50% - 10px);
  }
  .neo.andr::before{
    width: calc(80% - 10px);
  }
  .neo.sql::before{
    width: calc(60% - 10px);
  }
  .neo.rct::before{
    width: calc(30% - 10px);
  }
  .exp{
    background: url("techy.jpeg")no-repeat center;
    height: 70vh;
    text-align: center;  
    line-height: 1.5;
  }
  .contact{
    text-align: center;
    background: url("exp.jpeg")no-repeat center;
    height: 50vh;

  }
  .contact{
    line-height: 1.9;
  }
  .contact.copy{
    text-align: left;
  }
  .copy{
    background: url("exp.jpeg")no-repeat center;
  }
@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .home {
    height: 200vh; ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
 .home {
    height: 400vh ;
  }
}
